@import "tailwindcss";


html,
body,
#root.bg-orange-950,
#root {
  min-height: 100vh;
  width: 100vw;
}

html {
  overflow-x: hidden;
}

/* Prevent horizontal scroll from 100vw on scrollbar */
body {
  overflow-x: hidden;   
}



