# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
dist-ssr
*.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS
.DS_Store

# Testing
coverage

# Env files
.env
.env.local
.env.*.local

# Bun
bun.lockb

# TypeScript build info
*.tsbuildinfo

# Claude Code local settings
.claude
bun.lock
android
/src/shared/ui/animated/inspira-ui/
/src/shared/ui/animated/inspira-ui/_react-spring/animated/.eslintrc
/src/shared/ui/animated/inspira-ui/_react-spring/core/.eslintrc
/src/shared/ui/animated/inspira-ui/_react-spring/rafz/.eslintrc
/src/shared/ui/animated/inspira-ui/_react-spring/react-spring/.eslintrc
/src/shared/ui/animated/inspira-ui/_react-spring/web/.eslintrc
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/types/__tests__/.prettierrc
/src/shared/ui/animated/inspira-ui/_react-spring/web/src/animated.test.tsx
/src/shared/ui/animated/inspira-ui/_react-spring/animated/src/Animated.ts
/src/shared/ui/animated/inspira-ui/_react-spring/web/src/animated.ts
/src/shared/ui/animated/inspira-ui/_react-spring/animated/src/AnimatedArray.ts
/src/shared/ui/animated/inspira-ui/_react-spring/animated/src/AnimatedObject.ts
/src/shared/ui/animated/inspira-ui/_react-spring/animated/src/AnimatedString.ts
/src/shared/ui/animated/inspira-ui/_react-spring/web/src/AnimatedStyle.ts
/src/shared/ui/animated/inspira-ui/_react-spring/animated/src/AnimatedValue.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/Animation.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/AnimationConfig.test.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/AnimationConfig.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/AnimationResult.ts
/src/shared/ui/animated/inspira-ui/_react-spring/web/src/applyAnimatedValues.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/types/__tests__/common.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/types/common.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/constants.ts
/src/shared/ui/animated/inspira-ui/_react-spring/animated/src/context.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/Controller.test.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/__snapshots__/Controller.test.ts.snap
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/Controller.ts
/src/shared/ui/animated/inspira-ui/_react-spring/animated/src/createHost.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/FrameValue.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/types/functions.ts
/src/shared/ui/animated/inspira-ui/_react-spring/animated/src/getAnimatedType.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/globals.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/helpers.test.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/helpers.ts
/src/shared/ui/animated/inspira-ui/_react-spring/rafz/src/index.test.ts
/src/shared/ui/animated/inspira-ui/_react-spring/animated/src/index.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/components/index.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/hooks/index.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/types/index.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/index.ts
/src/shared/ui/animated/inspira-ui/_react-spring/rafz/src/index.ts
/src/shared/ui/animated/inspira-ui/_react-spring/react-spring/src/index.ts
/src/shared/ui/animated/inspira-ui/_react-spring/web/src/index.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/types/internal.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/interpolate.test.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/types/__tests__/interpolate.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/interpolate.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/Interpolation.test.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/Interpolation.ts
/src/shared/ui/animated/inspira-ui/_react-spring/react-spring/src/konva.ts
/src/shared/ui/animated/inspira-ui/_react-spring/animated/LICENSE
/src/shared/ui/animated/inspira-ui/_react-spring/core/LICENSE
/src/shared/ui/animated/inspira-ui/_react-spring/rafz/LICENSE
/src/shared/ui/animated/inspira-ui/_react-spring/react-spring/LICENSE
/src/shared/ui/animated/inspira-ui/_react-spring/web/LICENSE
/src/shared/ui/animated/inspira-ui/_react-spring/react-spring/src/native.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/types/objects.ts
/src/shared/ui/animated/inspira-ui/_react-spring/animated/package.json
/src/shared/ui/animated/inspira-ui/_react-spring/core/package.json
/src/shared/ui/animated/inspira-ui/_react-spring/rafz/package.json
/src/shared/ui/animated/inspira-ui/_react-spring/react-spring/package.json
/src/shared/ui/animated/inspira-ui/_react-spring/web/package.json
/src/shared/ui/animated/inspira-ui/_react-spring/web/src/primitives.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/types/props.ts
/src/shared/ui/animated/inspira-ui/_react-spring/animated/README.md
/src/shared/ui/animated/inspira-ui/_react-spring/core/README.md
/src/shared/ui/animated/inspira-ui/_react-spring/rafz/README.md
/src/shared/ui/animated/inspira-ui/_react-spring/react-spring/README.md
/src/shared/ui/animated/inspira-ui/_react-spring/web/README.md
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/runAsync.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/scheduleProps.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/test/setup.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/components/Spring.tsx
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/SpringContext.test.tsx
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/SpringContext.tsx
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/SpringPhase.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/SpringRef.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/SpringValue.test.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/__snapshots__/SpringValue.test.ts.snap
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/SpringValue.ts
/src/shared/ui/animated/inspira-ui/_react-spring/react-spring/src/three.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/components/Trail.tsx
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/types/transition.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/components/Transition.tsx
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/TransitionPhase.ts
/src/shared/ui/animated/inspira-ui/_react-spring/animated/tsup.config.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/tsup.config.ts
/src/shared/ui/animated/inspira-ui/_react-spring/rafz/tsup.config.ts
/src/shared/ui/animated/inspira-ui/_react-spring/react-spring/tsup.config.ts
/src/shared/ui/animated/inspira-ui/_react-spring/web/tsup.config.ts
/src/shared/ui/animated/inspira-ui/_react-spring/animated/src/types.ts
/src/shared/ui/animated/inspira-ui/_react-spring/rafz/src/types.ts
/src/shared/ui/animated/inspira-ui/_react-spring/react-spring/src/universal.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/hooks/useChain.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/hooks/useInView.native.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/hooks/useInView.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/hooks/useResize.native.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/hooks/useResize.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/hooks/useScroll.native.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/hooks/useScroll.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/hooks/useSpring.test.tsx
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/hooks/useSpring.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/hooks/useSpringRef.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/hooks/useSprings.test.tsx
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/hooks/useSprings.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/hooks/useSpringValue.test.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/hooks/useSpringValue.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/hooks/useTrail.test.tsx
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/hooks/useTrail.ts
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/hooks/useTransition.test.tsx
/src/shared/ui/animated/inspira-ui/_react-spring/core/src/hooks/useTransition.tsx
/src/shared/ui/animated/inspira-ui/_react-spring/react-spring/src/web.ts
/src/shared/ui/animated/inspira-ui/_react-spring/animated/src/withAnimated.tsx
/src/shared/ui/animated/inspira-ui/_react-spring/react-spring/src/zdog.ts
